@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Nhom 6</h1>
    <p>Thanh Vien:
        Vu Ngoc Tuyen 
        Nguyen Huy Tuong 
        Quach Kieu Trang
    </p>
</div>
