@model NetMVC.Models.Khachhang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Khachhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKh" class="control-label"></label>
                <input asp-for="IdKh" class="form-control" />
                <span asp-validation-for="IdKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClothes" class="control-label"></label>
                <input asp-for="IdClothes" class="form-control" />
                <span asp-validation-for="IdClothes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameKh" class="control-label"></label>
                <input asp-for="NameKh" class="form-control" />
                <span asp-validation-for="NameKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneKh" class="control-label"></label>
                <input asp-for="PhoneKh" class="form-control" />
                <span asp-validation-for="PhoneKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchasedate" class="control-label"></label>
                <input asp-for="Purchasedate" class="form-control" />
                <span asp-validation-for="Purchasedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
